
.wrapper{
    width:80%;
    padding:10px;
    display: flex;
    justify-content: space-around;
    
    font-family: verdana, arial, helvetica, sans-serif;
}
.img{
    height:32px;
    width:32px;
    border-radius: 100px;
}

.header{
    display: flex;
    align-items: center;
}
.title{font-size: 18px;
    margin:10px;}
.desc{
    font-size:14px;
    margin:0;
}
.footer{

background: #f6f7f8;
height:30px;
width:100%;
display:flex;
flex-direction: row;
justify-content: space-between;
line-height: 30px;
border-radius: 4px;
padding-left: 10px;
padding-right: 10px;
}