html,
body {
  background: ;
  padding: 0;
  margin: 0;
  background: #d7dfe2;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
}

.content {
  position: relative;
  top: 60px;
  width: 80%;
  background: green;
}

.nav {
  height: 20px;
  width: 100vw;
  position: absolute;
  background: linear-gradient(
    90deg,
    rgba(255, 69, 0, 1) 0%,
    rgba(13, 211, 187, 1) 45%,
    rgba(36, 160, 237, 1) 60%,
    rgba(255, 202, 0, 1) 80%,
    rgba(255, 176, 0, 1) 100%
  );
}

.preview {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid black;
}

.card {
  width: 100%;
  max-width: 650px;
  background: white;
  border-radius: 4px;
  border: 1px solid #c2c2c2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
  margin-top: 15px;
}
.card:hover {
  border: 1px solid #000;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card-content {
  padding: 10px;
}
.card-header {
  display: flex;
  align-items: center;
  height: 40px;
}

.card-title {
  font-size: 18px;
  padding-left: 10px;
  margin: 0;
}
.card-desc {
  padding-left: 40px;
  font-size: 14px;
  margin: 0;
}
.card-img {
  height: 32px;
  width: 32px;
  border-radius: 100px;
}
.card-footer {
  background: #f6f7f8;
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 30px;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
}
