html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card{
  width:100%;
  max-width: 650px;
  background:white;
  border-radius: 4px;
  border:1px solid #c2c2c2;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition:all 0.5s;
  padding:10px;
  margin-top:15px;
}
.card:hover{
  border:1px solid #000;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}