.nav{
  height:20px;
  background: linear-gradient(90deg, rgba(255,69,0,1) 0%, rgba(13,211,187,1) 45%, rgba(36,160,237,1) 60%,rgba(255,202,0,1) 80%,rgba(255,176,0,1) 100%);
}

.landing {
  background:#D7DFE2;
  
  width: 100%;

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.content{

  width:80%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper{
  background-color: white;
  height:60px;
  width:80%;
  max-width: 650px;
  display:flex;
  align-items: center;
  border-radius: 4px;
}
.wrapper > input{
  width:100%;
  background: #F2F6F7;
  height:40px;
  border-radius: 4px;
}
.searchButton{
  width:40px;
  height:100%;
  border-radius: 4px;
}
.table{
  margin-top:20px;
  display:flex;
}