.nav {
  height: 20px;
  background: linear-gradient(
    90deg,
    rgba(255, 69, 0, 1) 0%,
    rgba(13, 211, 187, 1) 45%,
    rgba(36, 160, 237, 1) 60%,
    rgba(255, 202, 0, 1) 80%,
    rgba(255, 176, 0, 1) 100%
  );
}

.landing {
  background: #d7dfe2;

  width: 100%;

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  margin-top: 40px;
  width: 80%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper {
  background-color: white;
  height: 60px;
  width: 80%;
  max-width: 650px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  
  position: relative;
}
.wrapper > input {
  width: 100%;

  height: 40px;
  border-radius: 4px;
}
.searchButton {
  width: 40px;
  height: 100%;
  border-radius: 4px;
}
.table {
  margin-top: 20px;
  display: flex;
}

.search {
  width: 100%;
  max-width: 970px;
  background: #fff;
  
}

.auto {
  z-index: 10;
  background: white;
  width: 80%;
  max-width: 650px;
  position: absolute;
  transform: translateZ(-10px)
}
